<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<test name="Test1">
		<parameter name="browser_name" value="chrome"/>
		<parameter name="browser_version" value="66"/>
    	<classes>
      		<class name="tests.SeleniumTest"/>
    	</classes>
  	</test> <!-- Test -->
  	<test name="Test2">
  		<parameter name="browser_name" value="firefox"/>
  		<parameter name="browser_version" value="59.0.2"/>
  		<classes>
    		<class name="tests.SeleniumTest"/>
  		</classes>
  	</test> <!-- Test -->
  	<test name="Test3">
  		<parameter name="UDID" value="N2K7N16811000808"/>
    	<classes>
      		<class name="tests.AndroidTest"/>
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
